body{
    background-image: url('https://chinluchen.github.io/starBackground.jpg');
}

h1 {
    text-align: center;
    color: white;
}
p {
    color:red;
}
div {
    margin: 0px auto;
    text-align: center;
}

.playField{
    width: 1000px;
    height: 300px;
    border-style: outset;
    margin: 0px auto;

}