body{
    background-image: url('https://chinluchen.github.io/starBackground.jpg');
}

h1 {
    text-align: center;
    color: white;
}

div {
    margin: 0px auto;
    text-align: center;
}

.playField{
    width: 1000px;
    height: 800px;
    border-style: outset;
    margin: 0px auto;
    background-color: rgb(234, 234, 234);

}